{% extends 'base.html.twig' %}
{% block title %}Register!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Register
                </button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}